@charset "UTF-8";
/*

NO TOCAR ESTE FICHERO, AVISAD ANTES

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Colores del header */
/* Colores del main */
/* Extra -> small (Width < 768px) */
@media (max-width: 768px) {
  header {
    /* Contenido visual solo para tener una referencia, se tiene que borrar */
    width: 500px;
    height: 120px;
    background-color: #364765;
  }
}
/* Colores del header */
/* Colores del main */
/* Small -> Width >= 768px y Width < 992px */
@media (min-width: 768px) and (max-width: 992px) {
  header {
    /* Contenido visual solo para tener una referencia, se tiene que borrar */
    width: 768px;
    height: 120px;
    background-color: #364765;
  }
}
/* Colores del header */
/* Colores del main */
/* Medium -> Width >=992px y Width < 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
  header {
    /* Contenido visual solo para tener una referencia, se tiene que borrar */
    width: 992px;
    height: 120px;
    background-color: #364765;
  }
}
/* Colores del header */
/* Colores del main */
/* Large -> Width > 1200px */
@media (min-width: 1200px) {
  header {
    /* Contenido visual solo para tener una referencia, se tiene que borrar */
    width: 1200px;
    height: 120px;
    background-color: #364765;
  }
}
/* Estilos generales que afecten a todos los tamaños por igual */
header nav {
  display: flex;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;
  width: 100%;
  margin-bottom: 10px;
}
header nav ul li button {
  width: 120px;
  height: 50px;
  border: solid 2px;
  border-radius: 1px;
  color: #F8F8F8;
  background-color: #364765;
  font-weight: bold;
}
header nav ul li button:hover {
  color: #364765;
  background-color: #F8F8F8;
}
header nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 120px;
}
header nav img {
  width: 100px;
  height: 100px;
}

.apretado {
  color: #F8F8F8;
  background-color: #0086bd;
}

/* Colores del header */
/* Colores del main */
/* Extra -> small (Width < 768px) */
@media (max-width: 768px) {
  main {
    width: 500px;
    height: 800px;
    background-color: #F3F3F3;
  }
  main .btn-borrar {
    width: 80px;
  }
  main #addProductsVendedor {
    width: 80px;
  }
  main #comprador #priceAll {
    margin-left: 5px;
  }
  main #comprador #btnBox #addProductsComprador,
main #comprador #btnBox #calculateAll,
main #comprador #btnBox #purchase {
    width: 130px;
  }
}
/* Colores del header */
/* Colores del main */
/* Small -> Width >= 768px y Width < 992px */
@media (min-width: 768px) and (max-width: 992px) {
  main {
    width: 768px;
    height: 800px;
    background-color: #F3F3F3;
  }
  main .btn-borrar {
    width: 100px;
  }
  main #addProductsVendedor {
    width: 100px;
  }
}
/* Colores del header */
/* Colores del main */
/* Medium -> Width >=992px y Width < 1200px */
@media (min-width: 992px) and (max-width: 1200px) {
  main {
    width: 992px;
    height: 800px;
    background-color: #F3F3F3;
  }
  main .btn-borrar {
    width: 100px;
  }
  main #addProductsVendedor {
    width: 100px;
  }
}
/* Colores del header */
/* Colores del main */
/* Large -> Width > 1200px */
@media (min-width: 1200px) {
  main {
    height: 800px;
    background-color: #F3F3F3;
  }
  main .btn-borrar {
    width: 100px;
  }
  main #addProductsVendedor {
    width: 100px;
  }
}
html {
  font-family: Helvetica, sans-serif;
}

/* Estilos generales que afecten a todos los tamaños por igual */
main {
  background-color: #F3F3F3;
  display: flex;
}
main form {
  display: flex;
  justify-content: space-between;
}
main form div {
  width: 100%;
}
main #tableVendedor > ul {
  display: flex;
  justify-content: space-between;
}
main li {
  list-style-type: none;
}
main .btn-borrar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 6px;
  font-weight: bold;
  border: 0px;
  background-color: #CF000F;
  color: #F8F8F8;
}
main .btn-borrar:hover {
  background-color: #fc0213;
}
main #vendedor li > input {
  width: 62px;
}
main #vendedor form,
main #vendedor ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
main #vendedor form input,
main #vendedor ul input {
  width: 60px;
}
main #vendedor form #addProductsVendedor,
main #vendedor ul #addProductsVendedor {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 6px;
  font-weight: bold;
  border: 0px;
  background-color: #008000;
  color: #F8F8F8;
}
main #vendedor form #addProductsVendedor:hover,
main #vendedor ul #addProductsVendedor:hover {
  background-color: #06a306;
}
main #comprador,
main #vendedor {
  width: 100%;
  font-weight: bold;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4.2%;
}
main #comprador ul,
main #vendedor ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1%;
}
main #comprador ul li,
main #vendedor ul li {
  display: flex;
  justify-content: flex-start;
  width: 25%;
}
main #comprador #tableComprador,
main #vendedor #tableComprador {
  width: 100%;
}
main #comprador #tableComprador ul li,
main #vendedor #tableComprador ul li {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}
main #comprador #tableComprador ul li input,
main #vendedor #tableComprador ul li input {
  width: 40%;
}
main #comprador #btnBox,
main #vendedor #btnBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}
main #comprador #btnBox button,
main #vendedor #btnBox button {
  border: 0px;
  width: 180px;
  height: 40px;
  border-radius: 2px;
  font-weight: bold;
  background-color: #0086bd;
}
main #comprador #btnBox button:hover,
main #vendedor #btnBox button:hover {
  background-color: #09b4f7;
}
main #comprador #priceAll,
main #vendedor #priceAll {
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;
  float: right;
  margin-top: 30px;
  width: 39%;
}
main #manager {
  width: 100%;
  margin-top: 50px;
}
main #manager #ranking {
  display: flex;
  justify-content: center;
}
main #manager #ranking ol li {
  font-size: 24px;
  margin-bottom: 10px;
}
main #manager #ranking ol li:nth-child(1n) {
  background-color: yellow;
}
main #manager #ranking ol li:nth-child(2n) {
  background-color: silver;
}
main #manager #ranking ol li:nth-child(3n) {
  background-color: brown;
}

/* Colores del header */
/* Colores del main */
html {
  display: flex;
  justify-content: center;
  background-color: #F8F8F8;
}

/*# sourceMappingURL=style.css.map */
