/*

NO TOCAR ESTE FICHERO, AVISAD ANTES

*/
@import 'general/reset.scss', 'header/header.scss', 'main/main.scss';
@import 'general/colors';

html {
  display: flex;
  justify-content: center;
  background-color: $bgColHtml;

  button {
    cursor: pointer;
  }
}