@import '../../general/colors', '../../general/sizes';

/* Extra -> small (Width < 768px) */
@media (max-width: $maxWidthXS) {
  header {
    // CODIGO A PARTIR DE AQUI

    /* Contenido visual solo para tener una referencia, se tiene que borrar */
    width: $widthXS;

    height: $heigthHeader;
    background-color: $bgColHeader;

    // CODIGO HASTA AQUI
  }
}