// Color de fondo html
$bgColHtml: #F8F8F8;

/* Colores del header */

$bgColHeader: #364765; // Fondo header

$bgButtColor: $bgColHeader; // Color fondo botón
$bgButtHover: #F8F8F8;// Color fondo botón en hover
$colButt: #F8F8F8; // Color del texto del botón
$colButtHover: #F8F8F8;// Color del texto del botón en hover


/* Colores del main */
// Color de fondo main -> CAMBIAR
$bgColMain: #f2f2f2;