// Tamaño height
$heigthHeader: 120px;
$heigthMain: 800px;

// Tamaño xs
$maxWidthXS: 768px; // No tocar
$widthXS: 500px;

// Tamaño sm
$maxWidthSM: 992px; // No tocar

// Tamaño md
$maxWidthMD: 1200px;


// Tamaño lg
