@import '../../general/colors', '../../general/sizes';

/* Large -> Width > 1200px */
@media (min-width: $maxWidthMD) {
    main {
        height: $heigthMain;
        background-color: $bgColMain;

        // CODIGO A PARTIR DE AQUI
        .btn-borrar {
            width: 100px;
        }

        #priceAll {
            margin-right: 420px;
        }

        #vendedor {

            #btn-create {
                width: 100px;
            }

            form {
                display: flex;

                div {
                    margin-right: 20vh;
                }

                div:nth-child(3n) {
                    margin-right: 21vh;
                    margin-left: 4vh;
                    background-color: red;
                }

                margin-bottom: 20px;
            }
        }

        // CODIGO HASTA AQUI
    }
}