@import '../../general/colors', '../../general/sizes';

/* Extra -> small (Width < 768px) */
@media (max-width: $maxWidthXS) {
  main {
    width: $widthXS;
    height: $heigthMain;
    background-color: $bgColMain;
    // CODIGO A PARTIR DE AQUI
    .btn-borrar {
      width: 130px;
    }

    // CODIGO HASTA AQUI
  }
}