@import '../../general/colors', '../../general/sizes';

/* Extra -> small (Width < 768px) */
@media (max-width: $maxWidthXS) {
  main {
    // CODIGO A PARTIR DE AQUI

    /* Contenido visual solo para tener una referencia, se tiene que borrar */
    width: $widthXS;
    height: $heigthMain;
    background-color: $bgColMain;

    // CODIGO HASTA AQUI
  }
}