@import '../../general/colors', '../../general/sizes';

/* Extra -> small (Width < 768px) */
@media (max-width: $maxWidthXS) {
  main {
    width: $widthXS;
    height: $heigthMain;
    background-color: $bgColMain;

    // CODIGO A PARTIR DE AQUI
    .btn-borrar {
      width: 80px;
    }

    #addProductsVendedor {
      width: 80px;
    }

    #comprador {
      #priceAll {
        margin-left: 5px;
      }

      #btnBox {

        #addProductsComprador,
        #calculateAll,
        #purchase {
          width: 130px;
        }
      }
    }
    // CODIGO HASTA AQUI
  }
}

