@import '../../general/colors', '../../general/sizes';

/* Medium -> Width >=992px y Width < 1200px */
@media (min-width: $maxWidthSM) and (max-width: $maxWidthMD) {
    main {
        width: $maxWidthSM;
        height: $heigthMain;
        background-color: $bgColMain;

        // CODIGO A PARTIR DE AQUI
        .btn-borrar {
            width: 100px;
        }

        #priceAll {
            margin-right: 341px;
        }

        #vendedor {
            #btn-create {
                width: 100px;
            }

            form {
                display: flex;

                div {
                    margin-right: 13.2vh;
                }

                div:nth-child(3n) {
                    margin-right: 15.1vh;
                    margin-left: -1vh;
                } 

                margin-bottom: 20px;
            }
        }

        // CODIGO HASTA AQUI
    }
}


