/* Medium -> Width >=992px y Width < 1200px */
@media (min-width: 992px) and (max-width: 1199px) {
    main {
        // CODIGO A PARTIR DE AQUI

        /* Contenido visual solo para tener una referencia, se tiene que borrar */
        width: 992px;
        height: 800px;
        background-color: grey;

        // CODIGO HASTA AQUI
    }
}