@import '../../general/colors', '../../general/sizes';

/* Small -> Width >= 768px y Width < 992px */
@media (min-width: $maxWidthXS) and (max-width: $maxWidthSM) {
  main {
    width: $maxWidthXS;
    height: $heigthMain;
    background-color: $bgColMain;

    // CODIGO A PARTIR DE AQUI
    .btn-borrar {
      width: 100px;
    }

    #priceAll {
      margin-right: 254px;
    }

    // CODIGO HASTA AQUI
  }
}