@import '../../general/colors', '../../general/sizes';

/* Small -> Width >= 768px y Width < 992px */
@media (min-width: $maxWidthXS) and (max-width: $maxWidthSM) {
  main {
    // CODIGO A PARTIR DE AQUI

    /* Contenido visual solo para tener una referencia, se tiene que borrar */
    width: $maxWidthXS;
    height: $heigthMain;
    background-color: $bgColMain;

    // CODIGO HASTA AQUI
  }
}